<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    name: <input v-model="name">
    <button @click="add">Add a monster</button>
    <ul>
      <li v-for="monster in monsters" :key="monster.id">
        ID.{{ monster.id }} {{ monster.name }} HP.{{ monster.hp }}
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
